$footer-height: 50px;
$container-margin: 20px;
$container-color: rgba( white, .93 );
$design-seperator-color: $gray-light;
$footer-copyright-color: $gray-light;

html, body {
    height: 100%;
}

body{
    padding-bottom: $footer-height+$container-margin;
    padding-top: 20px;
}

.main-container {
    display:block;
    overflow:auto;
    background: $container-color;
    margin-bottom: $footer-height+$container-margin;
    height: auto;
    min-height: 100% !important;

}

.footer
{
    background: $container-color;
    margin-top: -($footer-height+$container-margin);
    height: $footer-height;
    margin-bottom: $container-margin;
}

.footer > hr
{
        margin-bottom: 5px;
        border-color: $design-seperator-color;
}

.copyright
{
    color: $footer-copyright-color;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}



@media (max-width: 768px) {
    .hide-small {
        display: none;
    }

}

@media (min-width: 768px) {
    .hide-large {
        display: none;
    }

}

.gallery-item
{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.gallery-caption
{
    margin-top: -20px;
}

