html, body {
    height: 100%;
}

body{
    padding-bottom: 70px;
    padding-top: 20px;
}

.main-container {
    display:block;
    overflow:auto;
    background: rgba( white, .95 );
    margin-bottom: 70px;
    height: auto;
    min-height: 100% !important;

}


